{% extends "eslwriter_base.html" %}

{% block title %}ESLWriter{% endblock %}

{% block content %}
<div class='main'>
	<div class='container'>
		<div id="QueryContent">
			<div id="LogoBack" {%if count%} style="height:0px;overflow:hidden" {%endif%} >
				<div id="LogoContainer">
				</div>
			</div>
			<div class="ResultList" id="QueryResult">
				{% comment %}
				<div id="SettingPanel">
					<label for="CorpusSelector">Current Corpus: </label>
					<select id="CorpusSelector" name="c" form="SearchBar">
					{% for id, c in cc.iteritems %}
						<option value="{{ id }}"{% if id == cid %} selected="selected"{% endif %}>{{ c.info.name }}</option>
					{% endfor %}
					</select>
				</div>
				{% endcomment %}
				<form id="SearchBar" action="{% url 'eslwriter' %}" method="GET" onsubmit="return true;">
					<div id="SearchBox">
						<input id="fake_user_name" name="fake_user[name]" style="position:absolute; top:-100px; display:none;" type="text" value="Safari Autofill Me">
						<input type="text" id="SearchInput" placeholder="English&nbsp;Keywords." name="q" autocomplete="off" />
						<!--<button class="clearBtn hideText" type="reset">X</button>-->
						<div id="SuggestionContainer" style='clear:left'></div>
					</div>
					<button id="SearchBtn" class="hideText" type="submit">Search</button>
				</form>
				<div class="hr hr-short hr-center">
					<span class="hr-inner">
						<span class="hr-inner-style"></span>
					</span>
				</div>
				<ul class="ExampleList">
						<li>
							<h3>how to use</h3>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;This could be because they do not understand <strong>how to use</strong> them, or are not aware that they are available.</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;In both cases, additional instruction about <strong>how to</strong> efficiently <strong>use</strong> the menu with one or two hands appeared to resolve the difficulty.</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;The current project addresses <strong>how to</strong> make <strong>use</strong> of a remote control device for text input on the TV screen.</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;...</p>
							<i>Tips: enter <strong>a keyword or phrase</strong> to find example sentences.</i>
							<div class="hr hr-short hr-center"><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
						</li>
						<li>
							<h3>circumstance<strong>?</strong></h3>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;set (12812): First, tips in the training and test <strong>sets</strong> are ranked.</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;condition (11728): Recall that in the interstitial <strong>condition</strong>, participants must acknowledge the privacy indicator.</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;circumstance (461): When we asked them to complete the task in a new <strong>circumstance</strong> they became more attentive.</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;...</p>
							<i>Tips: The <strong>&lt;word&gt;?</strong> finds synonyms of &lt;word&gt;.</i>
							<div class="hr hr-short hr-center"><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
						</li>
						<li>
							<h3><strong>* (修饰)</strong> study</h3>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;user...study (1876): We performed the <strong>user</strong> <strong>study</strong> in one corner of a dedicated projection lab.</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;field...study 711): A <strong>field</strong> <strong>study</strong> was chosen in order to maximize ecological validity, sacrificing the control of the lab.</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;pilot...study (549): We report on user feedback from a <strong>pilot</strong> <strong>study</strong> of SongSelect with four participants.</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;...</p>
							<i>Tips: <strong>(修饰)</strong> is one of the collocation indicators and <strong>*</strong> is a wildcard. ESLWriter also supports <strong>(主谓)/(动宾)/(介词)</strong>. Try enter <strong>one or two keywords directly</strong> to get available collocation tips.</i>
							<div class="hr hr-short hr-center"><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
						</li>
						<li>
							<h3>conduct<strong>?</strong> <strong>(动宾)</strong> study<strong>?</strong></h3>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;conduct...study (1166): The experimenters applied for permission to <strong>conduct</strong> the <strong>study</strong> through the ethical review process.</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;carry...study (120): To confirm the results obtained, we <strong>carried</strong> out the <strong>study</strong> again with four blind users with no residual sight.</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;conduct...survey (97): We wanted to <strong>conduct</strong> a <strong>survey</strong> that would help us prioritize the conditions we would later test in the lab.</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;...</p>
							<i>Tips: ESLWriter supports <strong>mixed use</strong> of all above features.</i>
						</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
